{%  extends 'base.html' %}


{%block title%}
About Page
{% endblock%}
 {% block content %}
 <h1>Welcome to City Hospital</h1>
 <hr>
 <p>City Hospital offers the very highest standards of clinical skills and nursing care across a wide range of specialties. We are offering a wide range of services in healthcare sector. Our focus is on high quality service at an affordable price. Our promise is a quality-driven service, and our aim is to ensure affordable access to healthcare services to all categories of people.

    City Hospital pays attention to the minute details and well being of our patients. We constantly strive for a quality culture, a culture that stresses continuous improvements and excellence in patient care and services. Our dedication to providing care at the highest level is reflected in our transparent approach to reporting our quality data and treatment. At City, taking care of the healthcare needs of patients goes beyond the medical services that we provide
    The facility, which was designed by William Smith, was established as an infectious diseases hospital in 1874.[1] It was significantly expanded in 1895 and a new nurses' home was completed in 1931.[1] The hospital joined the National Health Service in 1948.[2] During the 1964 Aberdeen typhoid outbreak, over 400 cases were diagnosed and the patients were quarantined at the City Hospital and Woodend Hospital, although no fatalities resulted.
</p>
<div class="card text-center mx-3 my-3" style="width: 18rem; display: inline-block;">
    <img src="https://thumbs.dreamstime.com/b/young-team-group-doctors-37813851.jpg" class="card-img-top" alt="...">
    <div class="card-body">
   
   
    </div>
  </div>
 {% endblock %}