<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
        <h1>Home Page </h1>
       <h1> My name is {{name}}</h1>
       <h1> Place :{{place}}</h1>
       <h1> Age: {{age}}</h1>
    {% if num1 > 0 %}
    <h1>Postive Number</h1>
    {% elif num1 < 0 %}
    <h1>Negative Number</h1>
    {% else %}
    <h1>Nothing </h1>
    {% endif %}
    {% for n in fruits_list %}
    <h1>{{n}} </h1>
    {% endfor %}
</body>
</html>